<div class="jumbotron center">
	<h1>Project</h1>

	<p>I am doing this One Month class for a variety of reasons. The first is that I'm an aspiring writer and I need a homepage so I can actually connect with people. Another is that I want to learn to code to be able to advance in my professional career.  I can't imagine many companies would point blank turn down someone who can not only write well, but also code. And, finally, I'm just really into technology and creating new things.</p>
</div>	